#app-container {
  height: 500px;
  width: 400px;
}
.popup {
  font-family: sans-serif;
  padding: 3px;
  color: #555459;
}

.main-content {
  font-size: larger;
}
.congrats {
  margin: .5rem;
}
.image {
  margin-top: 1rem;
  text-align: center;
}
.link {
  padding: .25rem;
  background: #EEE;
}
.text-input {
  width: 100%;
  height: 2rem;
  font-size: 1.25rem;
  border: 1px solid #CCC;
  border-radius: 5px;
  text-align: center;
}
.submit {
  width: 55%;
  margin: 1rem auto;
  text-align: center;
  cursor: pointer;
  background: #2ab27b;
  border-radius: 5px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 1rem;
  padding: .5rem 1rem;
}
.submit:hover {
  background: #54c195;
}
.disabled {
  background: #69c9a2;
  pointer-events: none;
}